textarea{
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid gray;
}

label{
  font-size: 12px;
  color: rgb(0, 0, 0);
}

.textarea{
  display: block;
  background-color: #fff;
  font-size: 13px;
  color: rgb(2, 180, 112);
  padding: 3px;
}
textarea:invalid[focused='true']{
  border:  1px solid red;
}

textarea:invalid[focused='true'] ~ span {
  display: block;
}